<div class="bl">
  <div class="avatar">
    <img ng-src="{{ x.babaCreator.photoUrl }}" class="img-rounded" />
  </div>
  <br>
  <br>
      <h2>{{ x.babaCreator.name }}</h2>
  <br>
  <br>
    <ul class="badges pull-left">
      <li ng-repeat="badge in x.badges">
        <span class="label label-primary">{{ badge.title }}</span>
      </li>

      <br>
      <br>
  <a class="btn btn-large">Apply</a>

  <style>

  .bl {
    color: #ddd;
    text-align: center;
  }
    .avatar {
      margin: 0;
      margin-top: 50px;
    }

    .avatar img {
      height: 200px;
      width: 200px;
    }

    .badges li {
      display: inline-block;
      height: 30px;
      margin: 0;
      padding: 3px;
    }
  </style>
</div>
