<div class="bl">
  <div class="headerX">
    <div class="avatar pull-left">
      <img ng-src="{{ challenge.babaCreator.photoUrl }}" class="img-circle" />
    </div>
    <h2 class="pull-left" style="color: #428bca;">{{ challenge.babaCreator.name }}</h2>
  </div>

  <div class="timer">
    
  </div>

  <br>
  <br>
    <ul class="badges">
      <li ng-repeat="badge in x.badges">
        <span class="label label-primary">{{ badge.title }}</span>
      </li>

      <br>
      <br>
      <button type="button" class="btn btn-large btn-default" ng-click="applyChallenge()">
    Apply </button>

  <style>

  .bl {
    text-align: center;
  }

    .headerX {
      padding: 10px;
      background: #e1e1e8;
      color: #333;
    }

    .headerX .avatar {
      margin: 0;
    }

    .headerX .avatar img {
      height: 50px;
      width: 50px;
    }

    .headerX h2 {

    }

    .badges li {
      display: inline-block;
      height: 30px;
      margin: 0;
      padding: 3px;
    }
  </style>
</div>
