<div class="challenges">

<div class="challenges">
  <div ng-if="items.length === 0 || !items">
    Ой, лишенько. Немає нічого!
  </div>
  <ul class="challenges-list list-group">
    <li ng-repeat="item in items" ng-click="showChallenge(item._id)" class="list-group-item">
      <img ng-src="{{ item.babaCreator.photoUrl }}" class="img-circle1 pull-left"><img src="/img/profile_mask.png" width="65" height="65" style="position:absolute; margin-left:-65px;" />
      <ul class="badges pull-left">
        <li ng-repeat="badge in item.badges">
          <span class="label label-primary">{{ badge.title }}</span>
        </li>
      </ul>
    </li>
  </ul>
</div>

</div>

<style>
  .challenges-list li {
    min-height: 75px;
    padding: 5px 10px;
  }

  .challenges-list li img {
    height: 65px;
    width: 65px;
  }

  .challenges-list .badges {
    height: 30px;
    margin-top: 16px;
  }

  .challenges-list .badges li {
    display: inline-block;
    height: 30px;
    margin: 0;
    padding: 3px;
  }
</style>
