<!-- Успешный логин. Челенж не запущен. -->
<div class="female_profile_first">
    <div class="avatar_big">
        <img src="/img/photo01_ava_x230.jpg" class="img-circle" />
    </div>
    <div class="title">
        Princess Elizabeth
    </div>
    <div class="btn-set">
        <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block"><i class="icon-photo"></i>Take photo</a>
    </div>
</div>

<!-- Успешный логин. Есть запущенный челенж. -->
<div class="female_main">

</div>

<!-- Загрузила фотографию. Выбор челенжей для принца-->
<div class="female_challenges_choice">
    <div class="title">Choose 3 сhallenges for him</div>
    <ul class="challenge_block">
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico01"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Сделать стойку на руках и предоставить подтверждение</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico02"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Поделиться чем-то с окружающими людьми</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico03"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Найти красивое стихотворение о любви</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico04"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Сфотографировать любиму достопремичательность в городе</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico05"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Добавить свой вариант...</span>
            </div>
        </li>
    </ul>
</div>

<!-- Подтверждение и публикация -->
<div class="female_challenges_start">
    <div class="fake_bg" style="background-image: url('../img/photo01.jpg');">
        <div class="chellenge_on_photo_btn container-fluid">
            <ul class="row">
                <i class="challenge_ico02"></i>
                <i class="challenge_ico03"></i>
                <i class="challenge_ico04"></i>
            </ul>
        </div>
        <div>
            <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block">Опубликовать</a>
        </div>
    </div>
</div>


<!-- Лисn принцев в челенже  -->
<div class="female_challenge_info">
    <div class="title">All players in your challenge</div>
    <ul class="palyer_table">
        <li class="player_item">
            <div class="img">
                <img src="/img/cat01.png" class="img-circle"/>
            </div>
            <div class="player_challenges">
                <div class="item"><i class="challenge_ico04"></i></div>
            </div>
        </li>
    </ul>
</div>


<!-- Дитейл по заданиям  -->
<div class="female_challenge_man_detail">
    <div class="title title_small">Сфотографировать любиму достопремичательность в городе</div>
    <img src ='../img/done_che.png' style="width:100%;"/>
        <div>
            <div class="well">
                <a href="javascript:void(0);" class="btn btn-primary btn-lg btn-block">Задание выполнено</a>
                <a href="javascript:void(0);" class="btn btn-default btn-lg btn-block">На доработку</a>
            </div>

        </div>
    </div>
</div>
<!-- Поставила выполнено 3 задания -->
<div class="female_wait">
    <div class="title big">Принц в дороге!</div>
</div>

</div>

<header>
  <h3>Challenges</h3>
</header>

<div class="challenges">
  <ul>
    <li ng-repeat="item in challenges" ng-click="showChallenge(item._id)">
      <img src="http://u.kanobu.ru/ugc/6e17c56a-26a6-4acd-b12e-b53506b1868d.jpg" class="rounded pull-left">
      <ul>
        <li ng-repeat="badge in item.badges">
        </li>
      </ul>
    </div>

    <div class="time">
        <i class="icon-time"></i> 2h.
    </div>

    <div class="well">
        <a href="javascript:void(0);" class="btn btn-primary btn-lg btn-block">Совершить подвиги</a>
    </div>

</div>
