<div ng-controller="challengeCtrl">
  <div class="avatar">
    <img ng-src="{{ challenge.babaCreator.phoyoUrl }}" class="img-rounded" />
    <h3>{{ challenge.babaCreator.name }}</h3>
  </div>
  {{ challenge}}
    <ul class="badges">
      <li class="badges-item"></li>
    </ul>
  <a class="btn btn-large">Apply</a>

  <style>
    .avatar {
      color: #ddd;
      margin: 0;
      margin-top: 50px;
      text-align: center;
    }

    .avatar img {
      height: 200px;
      width: 200px;
    }
  </style>
</div>
