<!-- Загрузила фотографию. Выбор челенжей для принца-->
<div class="female_challenges_choice container content-container">
    <div class="title">Choose 3 сhallenges for him</div>
    <ul class="challenge_block">
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico01"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Ride up the Zelena street in less than 15 minutes</span>
            </div>
        </li>
        <li class="challenge_item selected">
            <div class="ci_row_first">
                <i class="challenge_ico02"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Take photo of what's on the intersection of two streets, one of which is named in honor of ukranian poetess and other's name is connected to books </span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico03"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Play chess with barmen at Kredens Cafe</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico04"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Make selfie of you and your bike on Vysokyy Zamok</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico05"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description_strong">Create Your Own...</span>
            </div>
        </li>
    </ul>
</div>
