<!-- Загрузила фотографию. Выбор челенжей для принца-->
<div class="female_challenges_choice container content-container">
    <div class="title">Choose 3 сhallenges for him</div>
    <ul class="challenge_block">
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico01"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Сделать стойку на руках и предоставить подтверждение</span>
            </div>
        </li>
        <li class="challenge_item selected">
            <div class="ci_row_first">
                <i class="challenge_ico02"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Поделиться чем-то с окружающими людьми</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico03"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Найти красивое стихотворение о любви</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico04"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description">Сфотографировать любиму достопремичательность в городе</span>
            </div>
        </li>
        <li class="challenge_item">
            <div class="ci_row_first">
                <i class="challenge_ico05"></i>
            </div>
            <div class="ci_row_second">
                <span class="challenge_description_strong">Добавить свой вариант...</span>
            </div>
        </li>
    </ul>
</div>

<!-- Подтверждение и публикация -->
<div class="female_challenges_start">
    <div class="fake_bg" style="background-image: url('../img/photo01.jpg');">
        <div class="chellenge_on_photo_btn container-fluid">
            <ul class="row">
                <i class="challenge_ico02"></i>
                <i class="challenge_ico03"></i>
                <i class="challenge_ico04"></i>
            </ul>
        </div>
        <div>
            <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block">Опубликовать</a>
        </div>
    </div>
</div>
